<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="entries" href="/tabs/entries">
      <ion-icon aria-hidden="true" name="list-circle"></ion-icon>
      <ion-label>Entries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="password" href="/tabs/password">
      <ion-icon aria-hidden="true" name="key"></ion-icon>
      <ion-label>Passwords</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
